目录:

<ul>
  <li><a href="/">Home</a></li>
  <li><span class='wiki'>Php</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/php-ouran">Ouran</a></li> 
      <li><a href="/wiki/php-sapi">PHP生命周期</a></li> 
      <li><a href="/wiki/php-zend-engine">Zend引擎</a></li> 
      <li><a href="/wiki/php-variable">PHP变量的实现</a></li> 
      <li><a href="/wiki/php-compile">PHP的编译</a></li> 
      <li><a href="/wiki/php-xhprof">Xhprof的使用</a></li>       
      <li><a href="/wiki/php-xhgui">Xhgui+Tideways的使用</a></li>
      <li><a href="/wiki/php-phpunit">PhpUnit单元测试</a></li>
    </ul> 
  </li>
  <li><span class='wiki'>Mysql</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/mysql-8">Mysql8.0手册</a></li> 
      <li><a href="/wiki/mysql-index">Mysql的索引</a></li> 
      <li><a href="/wiki/mysql-lock">Mysql的GET_LOCK锁</a></li> 
    </ul> 
  </li>
  <li><span class='wiki'>Python</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/python-exercise-doupan">爬一下豆瓣的电影</a></li>       
    </ul> 
  </li>
  <li><span class='wiki'>前端</span>
    <ul class='ul' style="display:none"> 
    </ul> 
  </li>
  <li><span class='wiki'>技术栈</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/tech-git-readme">Git的简易使用</a></li>       
      <li><a href="/wiki/tech-restful-api">Restful Api</a></li>
      <li><a href="/wiki/php-design">PhpUnit单元测试</a></li>
      <li><a href="/wiki/tech-thrift">Thrift简单使用</a></li>    
      <li><a href="/wiki/tech-class-design">类的设计原则</a></li>    
    </ul> 
  </li>
  <li><span class='wiki'>Algorithm</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/algorithm-b-tree">BTree</a></li> 
      <li><a href="/wiki/algorithm-hash">哈希表</a></li> 
    </ul> 
  </li>
  <li><span class='wiki'>网络通信</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/network">互联网协议</a></li> 
    </ul> 
  </li>
  <li><span class='wiki'>生活</span>
    <ul class='ul' style="display:none"> 
    </ul> 
  </li>
  <li><span class='wiki'>Other</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/other-movie">电影推荐</a></li> 
      <li><a href="/wiki/other-music">音乐推荐</a></li> 
    </ul> 
  </li>
</ul>