目录:

<ul>
  <li><a href="/">Home</a></li>
  <li><span class='wiki'>Php</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/php-ouran">Ouran</a></li> 
      <li><a href="/wiki/php-sapi">PHP生命周期</a></li> 
    </ul> 
  </li>
  <li><span class='wiki'>Mysql</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/mysql-8">Mysql8.0手册</a></li> 
      <li><a href="/wiki/mysql-index">Mysql的索引</a></li> 
      <li><a href="/wiki/mysql-lock">Mysql的GET_LOCK锁</a></li> 
    </ul> 
  </li>
  <li><span class='wiki'>Algorithm</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/algorithm-b-tree">BTree</a></li> 
      <li><a href="#">Ajax</a></li> 
    </ul> 
  </li>
  <li><span class='wiki'>Other</span>
    <ul class='ul' style="display:none"> 
      <li><a href="/wiki/other-movie">电影推荐</a></li> 
      <li><a href="/wiki/other-music">音乐推荐</a></li> 
    </ul> 
  </li>
</ul>